<!DOCTYPE html>
<html>
<head>
  <title>App Status</title>
  <%= stylesheet_link_tag    "app_status/application", :media => "all" %>
  <%= javascript_include_tag "app_status/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
